<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- Veritabanı Bağlantı Dizesi -->
	<connectionStrings>
		<add name="DefaultConnection"
             connectionString="Server=localhost;Database=Sena2024;User Id=user;Password=123;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- Sistem Web Ayarları -->
	<system.web>
		<!-- Derleme Ayarları (Debug ve Hedef Framework) -->
		<compilation debug="true" targetFramework="4.8" />

		<!-- Kimlik Doğrulama Yöntemi (Forms Kimlik Doğrulama) -->
		<authentication mode="Forms">
			<forms loginUrl="~/Login.aspx" defaultUrl="~/Default.aspx" />
		</authentication>

		<!-- Yetkilendirme Ayarları (Opsiyonel, belirli sayfalara erişim için) -->
		<authorization>
			<allow users="*" />
			<!-- Örnek: Yalnızca belirli kullanıcılar erişebilir -->
			<!-- <deny users="?" />  -->
		</authorization>

		<!-- Rollere Göre Erişim Ayarları (Opsiyonel) -->
		<roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider" />

		<!-- URL yeniden yazma ve yönlendirme için ayarlar -->
		<pages validateRequest="false" />
		


	</system.web>
	<system.webServer>
		<directoryBrowse enabled="true"/>
	</system.webServer>
	<!-- Sistemdeki İşlemci Belleği ile İlgili Ayarlar -->
	<runtime>
		<gcAllowVeryLargeObjects enabled="true"/>
	</runtime>

</configuration>
